{% extends "project/base.html" %}
{% load staticfiles %}

{% block title %}Search Posts, Authors, & Content - MorningBlog{% endblock %}

{% block content %}
<ul>
	<h2>Search</h2>
	<div class="col-sm-9">
		<form method="get" action=".">
				<p>{{ form.q }}</p>
					<p>
						<button class="btn btn-primary" type="submit">Search</button>
					</p>
		</form>

		{% if query %}

				{% for result in page.object_list %}
					<p>
						<h3>
							<a href="{% url 'project:detail' result.object.pk result.object.slug %}">{{ result.object.title }}</a>
						</h3>
						<h5>
							Author: {{ result.object.author }}</a> | Added: {{ result.object.added }}
						</h5>
						<p>
							{{ result.object.content|safe|truncatechars:100 }}
							<a href="{% url 'project:detail' result.object.pk result.object.slug %}">Read More</a>
						</p>
					</p>
				{% empty %}
					<p>No results found.</p>
				{% endfor %}

				{% if page.has_previous or page.has_next %}
					<nav>
						<ul class="pager">
							{% if page.has_previous %}
								<li><a href="?q={{ query }}&amp;page={{ page.previous_page_number }}"><span aria-hidden="true">&larr;</span> Previous</a></li>
							{% endif %}
							{% if page.has_next %}
								<li><a href="?q={{ query }}&amp;page={{ page.next_page_number }}">
								Next <span aria-hidden="true">&rarr;</span></a>
							{% endif %}
						</ul>
					</nav>
				{% endif %}
		{% endif %}
	</div>
</ul>
 
{% endblock %}