{% extends "project/base.html" %}

{% block content %}

<h1>{{ blog_post.title }}</h1>
<h5>Author: <a href="{% url 'project:profile_detail' blog_post.author %}">{{ blog_post.author }}</a> | Added: {{ blog_post.added }} | Updated: {{ blog_post.updated }}</h5>
<p>{{ blog_post.content|safe }}</p>


{% if blog_post.author == current_user %}
<p>
	<form action="" method="post">
		{% csrf_token %}
		{{ form.as_p }}

		<p><input type="submit" value="Add Tag" /></p>
	</form>
</p>
{% endif %}


<p>Tags:
	{% for item in tags %}
	 	<a href="{% url "project:tagged_posts" item.tag %}">{{ item.tag }}</a>
	{% endfor %}
</p>

{% endblock %}

