{% extends "project/base.html" %}

{% block title %}{{blog_post.title|title }} - MorningBlog{% endblock %}

{% block content %}

<h1>{{ blog_post.title|title }}</h1>
	<h5>
		Author: <a href="{% url 'project:profile_detail' blog_post.author %}">{{ blog_post.author }}</a> | Added: {{ blog_post.added }} | Updated: {{ blog_post.updated }} | 
	{% if favorite_exists %}
		<a title="Remove From Favorites" data-toggle="tooltip" href="{% url "project:unfavorite" id=blog_post.id slug=blog_post.slug %}">
			<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
		</a>
	{% else %}
		<a title="Add To Favorites" data-toggle="tooltip" href="{% url "project:favorite" id=blog_post.id slug=blog_post.slug %}">
			<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
		</a>
	{% endif %}
	</h5>
	<p>{{ blog_post.content|safe }}</p>


{% if blog_post.author == user.username %}
	{% for message in messages %}
		<div class="alert alert-info" role="alert">
			<p>{{ message }}</p>
		</div>
	{% endfor %}

	<div class="col-sm-2" style="background-color: white;">
		<form action="" method="post">
			{% csrf_token %}
			{{ form.tag }}
			<p><button class="btn btn-primary" type="submit">Add Tag</button></p>
		</form>
	</div>
</div>

{% endif %}


<p><span class="glyphicon glyphicon-tags" aria-hidden="true">
	  {% if tags %}
		{% for item in tags %}
		 <a href="{% url "project:tagged_posts" item.tag %}">
		 	<button type="button" class="btn btn-default btn-sm">
		 		{{ item.tag }}
		 	</button>
		 </a>
		{% endfor %}
      {% else %}
		Untagged
	  {% endif %}
</span>
</p>

{% endblock %}

