{% extends "project/base.html" %}
{% load staticfiles %}


{% block header_image %}
<div class="row">
    	<img src="{% static "images/bw-city.jpg" %}" class="header-image img-responsive"style="width: 100%; height: 375px; opacity: 1;">
</div>
{% endblock %}


{% block content %}
<h3>Home</h3>

<ul>
    {% for post in object_list %}
        <li><h5><a href="{% url 'project:detail' post.pk post.slug %}">{{ post.title }}</a>
         | by: <a href="{% url 'project:profile_detail' post.author %}">{{ post.author }}</a></h5></li>
    {% endfor %}
</ul>
{% endblock %}