{% extends "project/base.html" %}
{% load staticfiles %}


{% block content %}
<div class="col-sm-9" style="background-color: white;">


<ul>
    {% for post in all_posts %}
        <h3><a href="{% url 'project:detail' post.pk post.slug %}">{{ post.title|title }}</a></h3>
         <h5>
         	Author: <a href="{% url 'project:profile_detail' post.author %}">{{ post.author }}</a>
         	 | Added: {{ post.added }} | Updated: {{ post.updated }}
         </h5>
         <p>
	         {{ post.content|safe|truncatechars:425 }}
	         <a href="{% url 'project:detail' post.pk post.slug %}">Read More</a>
	       </p>
    {% endfor %}
</ul>


{% endblock %}

{% block sidebar %}

      <div class="col-sm-3" style="background-color: none;">
        <h5>Popular Posts:</h5>
        {% with posts=all_posts|dictsortreversed:"hits"|slice:":5" %}
          {% for post in posts %}
            <p>
              <a href="{% url 'project:detail' post.pk post.slug %}">
              {{ post.title|title }}</a> ({{ post.hits }})<br>
              <span class="sidebar-author">
                <a href="{% url 'project:profile_detail' post.author %}">{{ post.author }}</a>
              </span>
            </p>
          {% endfor %}
        {% endwith %}

      	<h5>Popular Tags:</h5>
      	{% for tag, count in tag_count|slice:"8" %}
      	<a href="{% url "project:tagged_posts" tag %}">
		 	<button type="button" class="btn btn-default btn-sm">
		 		{{ tag }} ({{ count }})
		 	</button>
	 	    </a>
      	{% endfor %}


    </div>

{% endblock %}