{% extends "project/base.html" %}

{% block content %}

 <div class="col-sm-9" style="background-color: white;">

<ul>
    <h4>Posts by: {{ author }} </h4>	
    
        {% if author_posts %}
            {% for post in author_posts %}
                <h3><a href="{% url 'project:detail' post.pk post.slug %}">{{ post.title|title }}</a></h3>
                 <h5>
                 	Author: {{ post.author }}
                 	 | Added: {{ post.added }} | Updated: {{ post.updated }}
                 </h5>
                 <p>
        	         {{ post.content|safe|truncatechars:425 }}
        	         <a href="{% url 'project:detail' post.pk post.slug %}">Read More</a>
        	     </p>
            {% endfor %}
        {% else %}
                <h5>No posts found</h5>
        {% endif %}
</ul>

{% endblock %}
