{% extends "project/base.html" %}

{% block content %}

 <div class="col-sm-9" style="background-color: white;">

<ul>
    <h4>
        {{ author }}

      {% if user.is_authenticated and user.username != author %}
        {% if follow_exists %}
        <p>
            <a href="{% url "project:unfollow_user" author %}">
            <button type="button" class="pull-right btn btn-default btn-sm">Unfollow</button>
             </a>
        </p>
        {% else %}
        <p>
            <a href="{% url "project:follow_user" author %}">
                <button type="button" class="pull-right btn btn-primary btn-sm">Follow</button>
            </a>
        </p>
        {% endif %}
       {% endif %}
      {% if not user.is_authenticated %}
      <p>
        <a href="/accounts/login/">
            <button type="button" class="pull-right btn btn-primary btn-sm">Follow</button>
         </a>
      </p>
      {% endif %}
    </h4>

        <h5>
            Posts: {{ author_posts|length }}
        </h5>
        <h5>
            Following: {{ all_following|length }}
        </h5>
        <h5> 
            Followers: <a href="{% url 'project:user_followers' author %}">{{ all_followers|length }}</a>
        </h5>

    
        {% if author_posts %}
            {% for post in author_posts %}
                <h3><a href="{% url 'project:detail' post.pk post.slug %}">{{ post.title|title }}</a></h3>
                 <h5>
                 	Author: {{ post.author }}
                 	 | Added: {{ post.added }} | Updated: {{ post.updated }}
                 </h5>
                 <p>
        	         {{ post.content|safe|truncatechars:425 }}
        	         <a href="{% url 'project:detail' post.pk post.slug %}">Read More</a>
        	     </p>
            {% endfor %}
        {% else %}
                <h5>No posts found</h5>
        {% endif %}
</ul>

{% endblock %}
