{% extends "project/base.html" %}

{% block content %}

<h4>Posts tagged as: {{ tag }}</h4>


{% for post in tagged_posts %}
        <h3><a href="{% url 'project:detail' post.pk post.slug %}">{{ post.title }}</a></h3>
         <h5>
         	Author: <a href="{% url 'project:profile_detail' post.author %}">{{ post.author }}</a>
         	 | Added: {{ post.added }} | Updated: {{ post.updated }}
         </h5>
         <p>
	         {{ post.content|safe|truncatechars:425 }}
	         <a href="{% url 'project:detail' post.pk post.slug %}">Read More</a>
	     </p>
{% endfor %}

{% endblock %}
