{% extends "project/base.html" %}
{% load staticfiles %}

{% block title %}Dashboard - {{ user.username }} - MorningBlog{% endblock %}

{% block content %}
 <div class="col-sm-9" style="background-color: white;">

<p>
	<h3>
		Dashboard | {{ user.username }}
	</h3>
</p>
<br>
	{% for message in messages %}
		<div class="alert alert-info" role="alert">
			<p>{{ message }}</p>
		</div>
	{% endfor %}

<ul>
    {% for post in object_list %}
	        		<p>
	        			<h4>
	        				<a href="{% url "project:detail" post.pk post.slug %}">{{ post.title|title }}</a><br>
	        				<h5>Added: {{ post.added }} | Updated: {{ post.updated }}</h5>
	        			</h4>	
	        		</p>
		        		<a href="{% url "project:update" post.pk post.slug %}">
		        			<button type="button" class="btn btn-default btn-sm">Update</button>
		        		</a> 
		        		<a href="{% url "project:delete" post.pk post.slug %}">
		        			<button type="button" class="btn btn-danger btn-sm">Delete</button>
		        	</a>
    {% endfor %}
</ul>
{% endblock %}

{% block sidebar %}

<p>		
	<h5>
			<p>Posts: {{ object_list|length }}</p>
			<p>Last Post: {{ object_list.0.added }}</p>
			<p>Joined: {{ user.date_joined }}</p>
			<p>Last Login: {{ user.last_login }}</p>
	</h5>
</p>

{% endblock %}
