{% extends "project/base.html" %}

{% block content %}

<div class="col-sm-9" style="background-color: white;">

<ul>
	<h4>
		{{ author }} | Followers
	</h4>
      {% if not user.is_authenticated %}
        {% for person in all_followers %}
			<p>
				<a href="{% url 'project:profile_detail' person %}">{{ person }}</a>         
				<a href="/accounts/login/">
           			<button type="button" class="btn btn-primary btn-sm">Follow</button>
         		</a>
			</p>
		{% endfor %}
	  {% endif %}	

{% endblock %}