.navbar-default {
	background: rgba(0,0,0,0.65);
	border-color: #5B5B5B;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #5B5B5B;
    background-color: #F5F5F5;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #262626;
    text-decoration: none;
    background-color: #F5F5F5;
}

body {
	font-family: Ubuntu,"Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #282828;
	padding-top: 75px;
  	padding-bottom: 20px;
}

a {
    color: #282828;
    text-decoration: none;
}

a:hover, a:focus {
    color: #525252;
    text-decoration: none;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #DCDCDC;
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
    color: #F5F5F5;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #DCDCDC;
    background-color: transparent;
}

.navbar-default .navbar-brand {
    color: #F5F5F5;
}

/* Move header image up flush with navbar */
.header-image {
	margin-top: -80px;
}