/* main navbar background color and opacity */
.navbar-default {
	background: rgba(61,89,171,1);
}

/* toggled navbar "sandwich" lines color */
.navbar-default .navbar-toggle .icon-bar {
background-color: #F5F5F5;
}

.navbar-default .navbar-toggle {
border-color: #F5F5F5;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #DCDCDC;
    background-color: #3D59AB;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #262626;
    text-decoration: none;
    background-color: #F5F5F5;
}

.sidebar-author a {
    color: #8E8E8E;
    text-decoration: none;
}

.sidebar-author a:hover, a:focus {
    color: #282828;
    text-decoration: none;
}

body {
	font-family: Ubuntu,"Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #282828;
	padding-top: 0px;
  	padding-bottom: 20px;
}

a {
    color: #282828;
    text-decoration: none;
}

a:hover, a:focus {
    color: #525252;
    text-decoration: none;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #DCDCDC;
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
    color: #F5F5F5;
}

/* navbar site name (brand) link color on hover */
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #DCDCDC;
    background-color: transparent;
}

/* navbar site name (brand) text color */
.navbar-default .navbar-brand {
    color: #F5F5F5;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #DCDCDC;
    background-color: #3D59AB;
}

.user-profile-stats {
    text-align: center;
}