element {
    background-image: url('images/bw-city.jpg');
}

.hero {
    position: relative;
    max-height: 300px;
    margin: 0px;
    background-size: cover;
    text-align: center;
    color: #FFF;
    background-color: #555;
}

.navbar-default {
	background: rgba(0,0,0,0.7);
	border-color: #5B5B5B;
}

body {
	font-family: Ubuntu,"Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #282828;
	padding-top: 75px;
  	padding-bottom: 20px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #DCDCDC;
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
    color: #A9A9A9;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #DCDCDC;
    background-color: transparent;
}

.navbar-default .navbar-brand {
    color: #A9A9A9;
}

/* Move header image up flush with navbar */
.header-image {
	margin-top: -80px;
}